site_name: prefect-dbt
site_url: https://prefecthq.github.io/prefect-dbt
repo_url: https://github.com/prefecthq/prefect-dbt
edit_uri: /edit/main/docs/
theme:
  name: material
  favicon: img/favicon.ico
  palette:
    primary: blue
    accent: blue
  icon:
    repo: fontawesome/brands/github
  logo: img/prefect-logo-white.png
  font:
    text: Inter
    code: Source Code Pro
extra_css:
    - stylesheets/extra.css
theme:
  name: material
  palette:
    primary: blue
    accent: blue
markdown_extensions:
    - admonition
    - attr_list
    - codehilite
    - md_in_html
    - meta
    - pymdownx.highlight:
        use_pygments: true
    - pymdownx.superfences
    - pymdownx.tabbed
plugins:
  - search
  - gen-files:
      scripts:
        - docs/gen_ref_pages.py
  - mkdocstrings:
      handlers:
        python:
          rendering:
            show_root_heading: True
            show_object_full_path: False
            show_category_heading: False
            show_signature: False
            show_bases: False
            heading_level: 1
      watch:
        - prefect_dbt/
        - README.md

nav:
    - Home: index.md
    - Cloud:
      - Credentials: cloud/credentials.md
      - Jobs: cloud/jobs.md
      - Runs: cloud/runs.md
      - Clients: cloud/clients.md
      - Models: cloud/models.md
      - Utils: cloud/utils.md
    - CLI:
      - Credentials: cli/credentials.md
      - Commands: cli/commands.md
      - Configs:
        - Base: cli/configs/base.md
        - Snowflake: cli/configs/snowflake.md
