site_name: prefect-dbt
site_url: https://PrefectHQ.github.io/prefect-dbt
repo_url: https://github.com/prefecthq/prefect-dbt
edit_uri: edit/main/docs/
theme:
  name: material
  favicon: img/favicon.ico
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
          icon: material/brightness-auto
          name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      accent: blue
      primary: blue
      scheme: default
      toggle:
          icon: material/weather-sunny
          name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      accent: blue
      primary: blue
      scheme: slate
      toggle:
          icon: material/weather-night
          name: Switch to light mode
  icon:
    repo: fontawesome/brands/github
  logo:
    img/prefect-logo-mark-solid-white-500.png
  font:
    text: Inter
    code: Source Code Pro
  features:
    - content.code.copy
    - content.code.annotate
extra_css:
    - stylesheets/extra.css
markdown_extensions:
    - admonition
    - attr_list
    - codehilite
    - md_in_html
    - meta
    - pymdownx.highlight:
        use_pygments: true
    - pymdownx.superfences
    - pymdownx.tabbed
    - pymdownx.inlinehilite
    - pymdownx.snippets

plugins:
  - search
  - gen-files:
      scripts:
        - docs/gen_home_page.py
        - docs/gen_examples_catalog.py
        - docs/gen_blocks_catalog.py
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: True
            show_object_full_path: False
            show_category_heading: True
            show_signature: False
            show_bases: True
            heading_level: 1
watch:
    - prefect_dbt/
    - README.md

nav:
    - Home: index.md
    - Cloud:
      - Credentials: cloud/credentials.md
      - Jobs: cloud/jobs.md
      - Runs: cloud/runs.md
      - Clients: cloud/clients.md
      - Models: cloud/models.md
      - Utils: cloud/utils.md
    - CLI:
      - Credentials: cli/credentials.md
      - Commands: cli/commands.md
      - Configs:
        - Base: cli/configs/base.md
        - BigQuery: cli/configs/bigquery.md
        - Postgres: cli/configs/postgres.md
        - Snowflake: cli/configs/snowflake.md
